@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;600&display=swap');

html{
  font-family: 'Hind Siliguri';
}


/* Theme */
.dark{
  background-color: #333;
  color: white;
  height: 100%;

  }
body{
  margin: 0;
  padding:0;
  background-color: white;
  color: #333;
  height:100%;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

/* Dark & Light theme toggle button */
.toggleContainer{
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}
.switchContainer{
  width:60px;
  height:31px;
  border-radius: 16px;
  background-color: #D2D2CF;
  position: relative;
}
.switchCircle{
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color:#FBFBFA ;
  position: absolute;
  top: 3px;
  left: 5px;
}
.moon{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: -4px 3px 0 0 #939391 ;
  position: relative;
  left:42px;
  top: 5px;
}
.dark .switchCircle {
  transform: translateX(25px)
}

/* Intro/Hero component CSS */

.heroContainer{
  padding-left: 15%;
  padding-right: 30%;
 text-align: left;
  
}
/* .heading{
  display: flex;
  justify-content: space-between;
  padding-right: 300px;
} */
.subheading{
  display: flex;
  justify-content: left;
  font-size: 40px;
  line-height: 60px;
  margin-right: 70px;
}

.name{
  color: #C66565;
  font-weight: bold;
}
.git{
  max-width:25%;
  height:auto;
}
.linkedin{
  max-width:25%;
  height:auto;
}
.youtube{
  max-width:25%;
  height:auto;
}


